.navbar{
    background-color: aliceblue;
    padding-top: 1%;
}
.navbar h1{
    color: burlywood;
    margin-left: 3%;
}
.navbar h1 span{
    color:black;
}
.navbar ul{
    margin-right: 10%;
    font-size: 20px;
}
.home{
    height:700PX;
    background-image: url('../Assets/pizzaHome.jpeg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}