.navbar{
    background-color: aliceblue;
    padding-top: 1%;
}
.navbar h1{
    color: burlywood;
    margin-left: 3%;
}
.navbar h1 span{
    color:black;
}
.navbar ul{
    margin-right: 10%;
    font-size: 20px;
}
.home{
    height: 800px;
    background-image: url('../Assets/pizzaHome2.jpeg');
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: 1%;
    margin-right: 1%;
}
.home h1,h4{
    color:white;
}
.home h4{
    padding-top: 20%;
}
.contact_us{
    background-color:whitesmoke;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    }
    .contact_us h2{
        text-align: center;
        padding-top: 2%;
    
    
    }
    .contact_us form{
        padding-left: 5%;
        padding-right: 5%;
    }
