.navbar{
    background-color: aliceblue;
    padding-top: 1%;
}
.navbar h1{
    color: burlywood;
    margin-left: 3%;
}
.navbar h1 span{
    color:black;
}
.navbar ul{
    margin-right: 10%;
    font-size: 20px;
}